.promo__card-toys {
  width: 24.5rem;
  height: 22.8rem;
  border-radius: 2rem;
  background: url("../../../blocks/promo/img/toys.jpg") no-repeat center/cover;
  grid-area: toys;
}

@media (min-width: 64em) and (max-width: 119.9375em) {
  .promo__card-toys {
    width: 20.7rem;
    height: 19.6rem;
    border-radius: 1.6rem;
    background-image: url("../../../blocks/promo/img/toys-1024.jpg");
  }
}

@media (min-width: 48em) and (max-width: 63.9375em) {
  .promo__card-toys {
    width: 35.6rem;
    height: 26rem;
    border-radius: 2.4rem;
    background-image: url("../../../blocks/promo/img/toys-768.jpg");
  }
}

@media (max-width: 47.9375em) {
  .promo__card-toys {
    width: 26rem;
    height: 19rem;
    border-radius: 1.6rem;
    background-image: url("../../../blocks/promo/img/toys-320.jpg");
  }
}
